
.loginMain{
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginCode, .loginAccount{
  width: 360px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border: 1px solid #ccc;

}

.loginAccount{

  & p{
    width: 300px;
    margin-top: 32px;
  }
}
