.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
   color: #1890ff;
 }
}


.logo {
  height: 32px;
  background: red;
  margin: 16px;
}

.layout{
  & .layoutBg {
    background: #fff;
    padding: 0;
  }
}

.layoutContent{
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
  background: #fff;
}
